.share {
  width: 100%;
  height: 170px;
  /* background-color: green; */
  border-radius: 10px;

  -webkit-box-shadow: 0px 1px 16px 8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 1px 16px 8px rgba(0, 0, 0, 0.68);
}
.sharewapper {
  padding: 10px;
}
.shareTop {
  display: flex;
  align-items: center;
}
.shareprofileimg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.sharInput {
    width: 80%;
    border: none;

}
.sharInput:focus {
    outline: none;
}
.shareHr{
    margin: 20px;
}
.shareRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions {
    display: flex;
        margin-left: 20px;

}
.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500 ;
}
.shareBottom {
  border-radius: 5px;
  border: none;
  background-color: green;
  font-weight: 500;
  padding: 7px;
  margin-right: 20;
  cursor: pointer;
  color: white;
}
